body{
  font-weight: bold;
  background-color:royalblue; 

font-family:cursive;
}
h2{
  color:royalblue;
  background-color:#fff;
  border-radius:5px;
  text-align:center;
}
a{
  color:royalblue;
}
h1{
  text-align:center;
  color:424242;
  border:solid 10px #3B0B0B;
  width : 500px;
  margin-left:35%;
}
h3,p,ul,img{
  color:steelgrey;
  margin-left:35%;
  margin-right:35%;
}


