body{
  font-weight: bold;
  background-color:royalblue; 
text-align:center;
font-family:fantasy;
}
h2{
  color:royalblue;
  background-color:#fff;
  border-radius:5px;
}
a{
  color:royalblue;
}
h1{
  text-align:center;
  color:424242;
  border:solid 10px #3B0B0B;
  width : 500px;
  margin-left:35%;
}
h3,p,ul{
  color:steelgrey;
}
